<h1>Escribe tu correo</h1>

<p>el correo q escribas recibira un link</p>

<form id="restoreRequestForm">
    <input type="text" name="email">
    <input type="submit" id="submitter">
</form>
<p id="message"></p>

<script src="/js/restoreRequest.js"></script>